  body{background-color: violet; 
 	 	border-radius: 10%;
     }

/*speech bubble style from: http://nicolasgallagher.com/pure-css-speech-bubbles */
      .triangle-isosceles {
  position: relative;
  padding: 25px;
  margin: 1em 0 3em;
  color: #000;
  background: #f3961c;
  border-radius: 10px;
  background: linear-gradient(top, #f9d835, #f3961c);
}
/* creates triangle */
.triangle-isosceles:after {
  content: "";
  display: block; /* reduce the damage in FF3.0 */
  position: absolute;
  bottom: -15px;
  left: 50px;
  width: 0;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: #f3961c transparent;
}

#usedLetters{
background-color: lightgray;
text-weight: bold;
color: gray;
padding: 2em; 
margin-bottom: 10px;
margin-top: 10px;
}

#labelUsedLetters{text-align: center;}

img {padding-bottom: 10px;
     padding-top: 10px;
}

.invisible {display: none;}

#blanks{
margin-left: 10px;
margin-right: 10px;
background-color:#f3961c;
color: green;
font-weight: bold;
border-width: 10px;
border-color: violet;
padding-top: 10px;
margin-bottom: 10px;
text-align: center;
}

#enterLetter{
font-size: 1.5em;
padding-top: 10px;
border-width: 10px; 
text-align: center;
font-weight: bold;
}